<div class="container">
    <div class="row my-4">
    <div class="col-12">
            <form class="d-md-inline-flex" [formGroup]="myForm" (ngSubmit)="OnSubmit()">
                <div class="form-group mr-4">
                    <label>Box 1</label>
                    <input type="number" name="box1" [value]="val1" class="form-control" formControlName="box1" (blur)="onBox1($event)">
                    <small class="form-text text-danger" *ngIf="myForm.get('box1').invalid">
                        <span *ngIf="myForm.get('box1').errors?.['max']">value should be less than 100</span>
                        <span *ngIf="myForm.get('box1').errors?.['min']">min value should be 0</span>
                    </small>
                </div>
                <div class="form-group mr-4">
                    <label>Box 2</label>
                    <input type="number" name="box2" [value]="val2" class="form-control" formControlName="box2" (blur)="onBox2($event)">
                    <small class="form-text text-danger" *ngIf="myForm.get('box2').invalid">
                        <span *ngIf="myForm.get('box2').errors?.['max']">value should be less than 100</span>
                        <span *ngIf="myForm.get('box2').errors?.['min']">min value should be 0</span>
                    </small>
                </div>
                <div>
                    <button type="submit" class="btn btn-success myBtn" [disabled]="myForm.invalid">Create Chart</button>
                </div>
                   
                
            </form>
        </div>
    </div>
    <p-chart type="pie"  class="pie" [data]="data" [style]="{'width': '10px'}"></p-chart>
        
</div>
